.uk-navbar-container {
    display: flex;
    padding: 15px;
}
.uk-navbar-nav>li>a {
    font-family: 'Muli', sans-serif;
    background-color: transparent;
    color: #fff;
}
.uk-navbar-nav>li:hover>a {
    background-color: transparent;
    color: #fff;
}
.uk-navbar-left {
}
.uk-navbar-right {
    margin-left: auto;
}

.uk-navbar-item {
}

.uk-background-cover {
    background-image: url('../img/turbines.gif');
    background-size: cover;
}

#main-container {
    height: 100vh;
}

