body {
    height: 100vh;
    overflow: hidden;
}
.uk-background-default {
    background-color: transparent;
}

.uk-navbar-left {
    padding: 15px;
}

.uk-navbar-item {
}

.uk-background-cover {
    background-image: url('../img/turbines.gif');
    background-size: cover;
}

#main-container {
    display: block;
    height: 100vh;
    width: 100vw;
}

.asdf {
    display: block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 4em;
    width: 100%;
}
