<!DOCTYPE html>

<html>
{% load static %}
<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
</head>

<body>
    <div id="main-container" class="uk-container-expand uk-background-cover">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			<div class="uk-navbar-left">
				<a id="logo" class="uk-navbar-item uk-logo" href="/">
					<img src="{% static 'img/logo.png' %}"/>
				</a>
			</div>
            <div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li>
						<a href="/dashboard">
							Dashboard
						</a>
					</li>
					<li>
						<a href="/login">
							Login
						</a>
					</li>
				</ul>
            </div>
		</nav>
        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/uikit.min.js"></script>
</html>
